@font-face {
    font-family: "roboto-medium";
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

$font1: "roboto-medium", sans-serif; 
$font2 : "roboto-bold", sans-serif;
$font3: "roboto-regular", sans-serif;
$color1: black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
}

html, body {
    height: 100%;
}



