@import '../../../styles/variables.scss';

.customTooltip {
    color: $black;

    .label {
        font-size: 8px;
    }
}

.customCursor {
    width: 258px;
    height: 263px;
}

.graphiqueLigne {
    width: 258px;
    height: 263px;
    background: #FF0000;
    border-radius: 5px;
    margin-right: 30px;

    .titleApp {
        position: absolute;
        margin: 30px 35px 0 35px;
        z-index:100;

        h2 {
            font-size: 15px;
            color: $white;
            font-weight: 100;
        } 
    }

    .xAxis{
        transform-origin: center center;
        transform: scale(.9) translateY(3px);
        opacity: .5;
    }
    .recharts-responsive-container {
        //max-height: 200px;

        .recharts-wrapper {
            max-height: 200px;

            .recharts-surface {
                .recharts-cartesian-grid {
                    display: none;
                }
            }
        }
    }
}