.graphiqueLigne {
    width: 258px;
    height: 263px;
    background: #FF0000;
    border-radius: 5px;
    margin-right: 30px;

    // .recharts-legend-wrapper {
    //     .recharts-default-legend {
    //         display: none;
    //     }
    // }

    .recharts-responsive-container {
        .recharts-wrapper {
            .recharts-surface {
                .recharts-cartesian-axis {
                    display: none;
                    
                }
            }
        }
    }
}