@import '../../styles/variables.scss';

.titleSection {
    h1 {
        font-size: 48px;
        font-family: $font3;

        .prenomValeur {
            color: red;
            font-family: $font3;
        }
    }

    p {
        font-size: 18px;
        margin: 40px 0 80px;
    }
}


